extends layout
block vars
	- var title = "amistad | Friends"
block links
	script(type="text/javascript", src = 'jquery/jquery-2.1.1.js')
	script(type="text/javascript", src = 'javascripts/app-main.js')
	link(rel='stylesheet' href='/stylesheets/home.css')
	script(type="text/javascript" src="javascripts/index-main.js")

block content
	div(class = "content")
