doctype html
html
	head
		title Welcome
		link(rel='stylesheet', href='/stylesheets/style.css')  
	body
		div(class = 'mainDivision')
			div(class = 'header')
				div(class = 'headerContent')
					div(class = 'kaustBookTitle')
						a(href = 'index' class = 'kaustBookTitleLink') amistad
					div(class = 'loginBox')
			
			div(class = 'bodyContent')
				div(class = 'errorComment', align = 'center')
					h1(class = 'greetings') #{invalidInsert.message}
					p(class = 'redirection') click 
						a(href = 'index.html') here
						&nbsp; to #{invalidInsert.nextAttempt}