doctype html
extends layout
block vars
	- var title = "amistad | Home"
block links
	script(type="text/javascript", src = 'jquery/jquery-2.1.1.js')
	script(type="text/javascript", src = 'javascripts/app-main.js')
	link(rel='stylesheet' href='/stylesheets/home.css')
	script(type="text/javascript" src="javascripts/index-main.js")
block content
	div(class = 'left body')
		div(class = 'postForm' id = 'postForm')
			input(class = 'box', id = 'msg' placeholder = "what's happening......")
			input(type = 'submit', id = 'post', value = 'POST')
			<hr></hr>
			div(id = 'comments')
				each post in posts
					div(class = "showComments") 
						p Name :
							a(href = "/#{post.email_id}") #{post.name}
						p Date: #{post.date}
						p Comment: #{post.post}
						<hr></hr>

	div(class = 'left chat') here we go